In [43]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
import array

In [2]:
data = pd.read_csv('BackUp.csv')

In [3]:
data

   0  1  2  3  4  5  6  7  8  9 ...   11  12  13  14  15  16  17  18  19  _id
0  1  1  0  0  0  0  0  1  1  1 ...    1   0   0   0   0   1   1   0   1  WHY
1  1  1  1  1  1  1  1  1  1  1 ...    0   1   1   0   0   1   0   0   1  WYY
2  0  1  1  1  1  1  1  1  0  1 ...    1   1   1   1   1   1   1   0   0  JMQ
3  1  0  0  1  1  1  1  1  1  1 ...    0   0   1   0   1   1   1   1   1  WSB
4  1  1  0  0  1  1  0  1  1  0 ...    0   1   1   0   0   0   0   0   0  YJB
5  1  1  1  1  1  1  1  1  1  0 ...    1   0   1   1   1   1   1   1   0  MKF

[6 rows x 21 columns]

In [34]:
data.iloc[0][:19][0]

1

In [62]:
DataSet=[]
for i in range(0,6):
    DataSet.append(data.iloc[i][:19])

In [64]:
y_pred = KMeans(n_clusters=2).fit_predict(DataSet)

In [65]:
y_pred

array([1, 0, 0, 0, 1, 0], dtype=int32)